{% if vet is null %}
    <h1>Veterinary not found</h1>
{% else %}
    <h1>Vet removed with success!</h1>
    <h4>Details</h4>
    <p>Name: {{vet.name}}</p>
    <p>Type: {{vet.crmv}}</p>
    <p><a href="{{ path('vet_index')}}"> Return index of Veterinaries</a> | <a href="localhost:8000">Home</a></p>
{% endif %}